.content {
    padding: 20px;
    border-radius: 20px;
    background-color: white;

    width: fit-content;
    height: fit-content;
}

.wrapper {
    margin: 50px auto auto;

    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper > button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 100px;
}

.wrapper > button:disabled {
    background-color: gray;
}