#output {
    text-align: center;
    font-size: 50px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > button {
    width: 200px;
    margin: 10px auto;

    border-radius: 15px;
    padding: 10px;

}
