.content {
    padding: 20px;
    border-radius: 20px;
    background-color: white;

    width: fit-content;
    height: fit-content;
}

.wrapper {
    margin: 50px auto auto;

    display: flex;
    justify-content: center;
    text-align: center;
}