#overlay {
    position: fixed;
    inset: 0;                 /* top/right/bottom/left = 0 */
    background: rgba(0, 0, 0, 0.6); /* greyed-out background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#request-password {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 250px;
    text-align: center;
}
